@use "./base.scss";

// put your custom CSS here!
@font-face {
    font-family: 'iA Writer Mono S';
    src: url('/static/fonts/iAWriterMonoS-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// article, h1, h2, h3, h4, h5, h6 {
//     font-family: 'iA Writer Mono S', sans-serif;
// }

